h1 Welcome to Reddrum.
h3 What subreddit would you like to read now?

.set-sub-reddit
  input(type="text" id="reddit-url" placeholder="subreddit here")
  button(id="submit") Pour me a glass
  
ul.sub-reddit-wrap