h1 Reddrum.

.set-sub-reddit.card-panel
  .input-field
    input(type="text" id="reddit-url" placeholder="Sub")
  button(id="submit" class="btn waves-effect waves-light red") Pour me a glass
  
ul.sub-reddit-wrap.col.s12.collection
