body
  background #ddd
 
.input-field input[type=text]
  border-bottom 3px solid red
  
.input-field input[type=text]:focus
  border-bottom 3px solid red
  
.sub-reddit
  max-height 400px
  height 400px